/* GLOBAL */
@import "./global/global.css";
/* HEADER */
@import "./global/header.css";
/* FOOTER */
@import "./global/footer.css";

/* TIPOGRAFIA */
@import "./utilidades/tipografia.css";
/* CORES */
@import "./utilidades/cores.css";
/* UTILIDADES */
@import "./utilidades/componentes.css";
@import "./utilidades/formulario.css";

/* HOME */
@import "./home/introducao.css";
/* BICICLETAS */
@import "./bicicletas/bicicletas-lista.css";
@import "./bicicletas/bicicletas.css";
@import "./bicicleta/bicicleta.css";
/* TECNOLOGIA */
@import "./home/tecnologia.css";
/* PARCEIROS*/
@import "./home/parceiros.css";
/* DEPOIMENTO */
@import "./home/depoimento.css";
/* SEGUROS */
@import "./seguros/seguros.css";
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";
/* CONTATOS */
@import "./contato/contato.css";
@import "./contato/lojas.css";
/* ORCAMENTO */
@import "./orcamento/orcamento.css";
/* TERMOS */
@import "./termos/termos.css";
